<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ConnectionString" value="Data Source=MovieLibraryDB.db"/>

    <add key="TITLE" value="//h1"/>

    <!--Returns: year, rating, duration (begins with TV Series for series) without spaces
    Gives 3 or 4 items in one string, form of: "TV Series 1997–2003 12 44m" for series and "2023 15 1h 47m" for movies-->
    <add key="SECONDARY" value="//*[@id=&quot;__next&quot;]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul"/>
    
    <add key="SCORE" value="//*[@id=&quot;__next&quot;]/main/div/section[1]/section/div[3]/section/section/div[2]/div[2]/div/div[1]/a/span/div/div[2]/div[1]/span[1]"/>
    <add key="GENRES" value="//*[@class=&quot;ipc-chip-list__scroller&quot;]"/>
    <add key="IMAGE" value="//*[@class=&quot;ipc-image&quot;]"/>
    <add key="DESCRIPTION" value="//*[@data-testid=&quot;plot&quot;]/span[3]"/>
    <add key="EPISODES" value="//*[@class=&quot;ipc-title__text&quot;]/span[2]"/>
  </appSettings>
  
</configuration>